<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.len.mapper.WxUserMapper">
	<resultMap id="BaseResultMap" type="com.len.entity.WxUser">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="userPic" jdbcType="VARCHAR" property="userPic" />
		<result column="openId" jdbcType="VARCHAR" property="openId" />
		<result column="nickName" jdbcType="VARCHAR" property="nickName" />
		<result column="gender" jdbcType="VARCHAR" property="gender" />
		<result column="province" jdbcType="VARCHAR" property="province" />
		<result column="city" jdbcType="VARCHAR" property="city" />
		<result column="country" jdbcType="VARCHAR" property="country" />
	</resultMap>
	<!--分页 -->
	<select id="selectListByPage" parameterType="com.len.entity.WxUser" resultMap="BaseResultMap">
		select * from boke_wx_user
		<include refid="whereSql" />
	</select>
	<select id="count" resultType="java.lang.Integer">
		select count(1) from boke_wx_user
		<include refid="whereSql" />
	</select>
	<!--默认查询的sql -->
	<sql id="whereSql">
		<where>
			<if test="id !=null and id !=''"> and id=#{id}</if>
			<if test="openId !=null and openId !=''"> and openId=#{openId}</if>
			<if test="nickName !=null and nickName !=''"> and nickName like '%${nickName}%'</if>
			<if test="gender !=null and gender !=''"> and gender=#{gender}</if>
			<if test="province !=null and province !=''"> and province=#{province}</if>
			<if test="city !=null and city !=''"> and city=#{city}</if>
			<if test="country !=null and country !=''"> and country=#{country}</if>
		</where>
	</sql>
</mapper>
