<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.len.mapper.HJPersonMapper">
    <resultMap id="BaseResultMap" type="com.len.entity.HJPerson">
        <id column="user_num" jdbcType="INTEGER" property="userNum" />
        <result column="created_by" jdbcType="VARCHAR" property="createdBy" />
        <result column="created_date" jdbcType="TIMESTAMP" property="createdDate" />
        <result column="last_update_by" jdbcType="VARCHAR" property="lastUpdateBy" />
        <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
        <result column="is_wantLiaison_man" jdbcType="VARCHAR" property="isWantliaisonMan" />
        <result column="use_name" jdbcType="VARCHAR" property="useName" />
        <result column="sex" jdbcType="VARCHAR" property="sex" />
        <result column="study_year" jdbcType="VARCHAR" property="studyYear" />
        <result column="class_num" jdbcType="INTEGER" property="classNum" />
        <result column="student_id" jdbcType="VARCHAR" property="studentId" />
        <result column="birthday" jdbcType="VARCHAR" property="birthday" />
        <result column="live_city" jdbcType="VARCHAR" property="liveCity" />
        <result column="telphone" jdbcType="VARCHAR" property="telphone" />
        <result column="email" jdbcType="VARCHAR" property="email" />
        <result column="we_chat" jdbcType="VARCHAR" property="weChat" />
        <result column="qq" jdbcType="VARCHAR" property="qq" />
        <result column="profession" jdbcType="VARCHAR" property="profession" />
        <result column="company" jdbcType="VARCHAR" property="company" />
        <result column="job" jdbcType="VARCHAR" property="job" />
        <result column="title" jdbcType="VARCHAR" property="title" />
        <result column="school_job" jdbcType="VARCHAR" property="schoolJob" />
        <result column="is_graduate" jdbcType="VARCHAR" property="isGraduate" />
        <result column="graduate_school" jdbcType="VARCHAR" property="graduateSchool" />
        <result column="graduate_degree" jdbcType="VARCHAR" property="graduateDegree" />
        <result column="master_degree" jdbcType="VARCHAR" property="masterDegree" />
        <result column="master_guide" jdbcType="VARCHAR" property="masterGuide" />
        <result column="is_doctor" jdbcType="VARCHAR" property="isDoctor" />
        <result column="doctor_school" jdbcType="VARCHAR" property="doctorSchool" />
        <result column="doctor_degree" jdbcType="VARCHAR" property="doctorDegree" />
        <result column="doctor_master_degree" jdbcType="VARCHAR" property="doctorMasterDegree" />
        <result column="doctor_guide" jdbcType="VARCHAR" property="doctorGuide" />
        <result column="idea" jdbcType="VARCHAR" property="idea" />
    </resultMap>
    <!--分页 -->
    <select id="selectListByPage" parameterType="com.len.entity.HJPerson" resultMap="BaseResultMap">
        select * from ecjtu_ie_user_info
        <include refid="whereSql" />
        order by last_update_date desc
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1) from ecjtu_ie_user_info
        <include refid="whereSql" />

    </select>
    <!--默认查询的sql -->
    <sql id="whereSql">
        <where>
            <if test="userNum !=null and userNum !=''"> and user_num=#{userNum}</if>
            <if test="createdBy !=null and createdBy !=''"> and created_by=#{createdBy}</if>
            <if test="createdDate !=null and createdDate !=''"> and created_date=#{createdDate}</if>
            <if test="lastUpdateBy !=null and lastUpdateBy !=''"> and last_update_by=#{lastUpdateBy}</if>
            <if test="lastUpdateDate !=null and lastUpdateDate !=''"> and last_update_date=#{lastUpdateDate}</if>
            <if test="isWantliaisonMan !=null and isWantliaisonMan !=''"> and is_wantLiaison_man=#{isWantliaisonMan}</if>
            <if test="useName !=null and useName !=''"> and use_name=#{useName}</if>
            <if test="sex !=null and sex !=''"> and sex=#{sex}</if>
            <if test="studyYear !=null and studyYear !=''"> and study_year=#{studyYear}</if>
            <if test="classNum !=null and classNum !=''"> and class_num=#{classNum}</if>
            <if test="studentId !=null and studentId !=''"> and student_id=#{studentId}</if>
            <if test="birthday !=null and birthday !=''"> and birthday=#{birthday}</if>
            <if test="liveCity !=null and liveCity !=''"> and live_city=#{liveCity}</if>
            <if test="telphone !=null and telphone !=''"> and telphone=#{telphone}</if>
            <if test="email !=null and email !=''"> and email=#{email}</if>
            <if test="weChat !=null and weChat !=''"> and we_chat=#{weChat}</if>
            <if test="qq !=null and qq !=''"> and qq=#{qq}</if>
            <if test="profession !=null and profession !=''"> and profession=#{profession}</if>
            <if test="company !=null and company !=''"> and company=#{company}</if>
            <if test="job !=null and job !=''"> and job=#{job}</if>
            <if test="title !=null and title !=''"> and title=#{title}</if>
            <if test="schoolJob !=null and schoolJob !=''"> and school_job=#{schoolJob}</if>
            <if test="isGraduate !=null and isGraduate !=''"> and is_graduate=#{isGraduate}</if>
            <if test="graduateSchool !=null and graduateSchool !=''"> and graduate_school=#{graduateSchool}</if>
            <if test="graduateDegree !=null and graduateDegree !=''"> and graduate_degree=#{graduateDegree}</if>
            <if test="masterDegree !=null and masterDegree !=''"> and master_degree=#{masterDegree}</if>
            <if test="masterGuide !=null and masterGuide !=''"> and master_guide=#{masterGuide}</if>
            <if test="isDoctor !=null and isDoctor !=''"> and is_doctor=#{isDoctor}</if>
            <if test="doctorSchool !=null and doctorSchool !=''"> and doctor_school=#{doctorSchool}</if>
            <if test="doctorDegree !=null and doctorDegree !=''"> and doctor_degree=#{doctorDegree}</if>
            <if test="doctorMasterDegree !=null and doctorMasterDegree !=''"> and doctor_master_degree=#{doctorMasterDegree}</if>
            <if test="doctorGuide !=null and doctorGuide !=''"> and doctor_guide=#{doctorGuide}</if>
            <if test="idea !=null and idea !=''"> and idea=#{idea}</if>
        </where>
    </sql>

    <select id="getAllStudyYear" resultType="java.lang.String">
       select DISTINCT study_year from ecjtu_ie_user_info
    </select>
</mapper>